{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}
{% block monTitre %}<span class="glyphicon glyphicon-cutlery"></span> Success <span
        class="glyphicon glyphicon-cutlery"></span> {% endblock %}
{% block body %}
    <div class="container rounded-pill">
        <div class="alert alert-success text-center">
            <h2>
                Votre payement a été effectué avec success !
            </h2>
            <h3>  vous allez recevoir une confirmation par mail !</h3>
            <h4>  Commande N° vanerdf123ghhdjfhrrg22</h4>
        </div>

    </div>

{% endblock %}