{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}
{% block monTitre %}<span class="glyphicon glyphicon-cutlery"></span> Success <span
        class="glyphicon glyphicon-cutlery"></span> {% endblock %}
{% block body %}


{% endblock %}