<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="CSS/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"

    {% block stylesheets %}{% endblock %}
</head>

<nav  class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="{{ path('home') }}">
        <img src="{{ asset('images/categories/salade.jpg') }}" width="65" height="65" class="rounded-circle m-2 "
             alt="logo"
             loading="lazy"></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        <ul class="nav nav-pills nav-fill navbar-nav p-2 m-2 ">

            <li class="nav-item ">
                <a class="nav-link  " style="font-size: 18px;  color: #FFF;" href="{{ path('recettes') }}">Accueil</a>
            </li>
            {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" style="font-size: 18px;  color: #FFF;" href="#">Voitures</a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" style="font-size: 18px;  color: #FFF;" href="#">Admin</a>
                </li>
            {% endif %}
            {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link" style="font-size: 18px;  color: #FFF;" href="#"> Inscription</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="font-size: 18px;  color: #FFF;" href="#"> Login</a>
                </li>
            {% else %}

                <li class="nav-item">
                    <a class="nav-link" style="font-size: 18px;  color: #FFF;" href="#">Logout</a>
                </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" style="font-size: 18px;  color: #FFF;" href="#">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<body>

<div class="container">
    <h1 class=" rounded-pill p-2 m-2  text-center text-logo"> {% block monTitre %}{% endblock %} </h1>
</div>


{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

<!-- Latest compiled and minified JavaScript -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>
</html>
